<div class="card-body">
  <ul class="list-group">
    <li class="list-group-item">Role: <strong>Team Leader</strong></li>
    <li class="list-group-item">Id: <strong>99</strong></li>
    <li class="list-group-item">
      Email:
      <a href="mailto:Maryam.ali@live.co.uk">Maryam.ali@live.co.uk</a>
    </li>
    <li class="list-group-item list-group-item-secondary"></li>
    <li class="list-group-item list-group-item-secondary">
      <i class="bi bi-globe"></i> Office:
      <strong>Office 3</strong>
    </li>
  </ul>
</div>
